* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #000;

    list-style: none;
    text-decoration: none;
    font-size: 14px;

    font-family: 'Gothic A1', sans-serif;
    font-family: 'Raleway', sans-serif;
}

/* layout  */

.container {
}

.container > .site_header {
    width: 100%;
    height: 180px;
}

.container > .site_section {
    width: 100%;
    height: 600px;
}

.container > .site_footer {
    width: 100%;
    height: 200px;
}

/* header : logo*/

.container > header > .title {
    position: relative;
    width: 100%;
    height: 100px;
    font-family: 'Raleway';
}

.container > header > .title > .logo {
    position: absolute;
    width: 200px;
    height: 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container > header > .title > .util_menu {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

.container > header > .title > .util_menu > ul {
    position: relative;
    height: 40px;
}

.container > header > .title > .util_menu > ul > li {
    float: left;
    height: 100%; /* 40px */
    padding: 5px 0;
}

.container > header > .title > .util_menu > ul > li::after {
    position: absolute;
    content: '';
    display: inline-block;
    width: 2px;
    height: 2px;
    background-color: #666;
    border-radius: 50px;
    top: 50%;
    transform: translateY(-50%);
}

.container > header > .title > .util_menu > ul > li:last-child::after {
    display: none;
}

.container > header > .title > .util_menu > ul > li > a {
    display: inline-block;
    height: 100%; /* 30px */
    color: #666;
    font-size: 13px;
    line-height: 30px;
    margin: 0 10px;
}

/* nav : logo */

.container > header > .title > nav {
    width: 100%;
    height: 70px;
}

.container > header > .title > nav > .gnb {
    width: 100%;
    height: 100%;
}

nav > .gnb > ul {
    width: 960px;
    height: 100%;
    margin: 0 auto;
    background-color: orange;
}

nav > .gnb > ul > li {
    float: left;
    list-style: none;
    width: 160px;
    text-align: center;
}

nav > .gnb > ul > li:hover > a {
    color: #10e060;
}

nav > .gnb > ul > li > a {
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    color: #000;
    line-height: 70px;
}
/*  */
nav > .gnb > ul > li > .snb > ul {
    width: 100%;
    height: 100%;
}

nav > .gnb > ul > li > .snb > ul > li {
    width: 100%;
    height: 35px;
    list-style: none;
    text-align: center;
}

nav > .gnb > ul > li > .snb > ul > li:hover > a {
    text-decoration: underline;
    color: #10e060;
    text-decoration-color: #10e060;
}

nav > .gnb > ul > li > .snb > ul > li > a {
    display: inline-block;
    line-height: 35px;
    width: 100%;
    height: 100%;
}

.snb {
    display: none;
}

nav > .gnb > ul > li:hover > .snb {
    display: block;
}

/* section */

.container > section {
    width: 100%;
    height: 600px;
    background-color: orange;
}

section > .main {
    position: relative;
    width: 100%;
    height: 380px;
}

.main > .sub_header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: transparent;
}

.main > .sub_header > .sub_logo {
    position: absolute;
    top: 50%;
    left: 1%;
    transform: translateY(-50%);
    display: none;
}

.main > .sub_header > .sub_menu {
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*  */

.main > .sub_header > .sub_menu > ul {
    height: 100%;
    display: flex;
    flex-direction: row;
    /* fl 대신 df, fdr */
}

.main > .sub_header > .sub_menu > ul > li {
    position: relative;
    height: 100%;
}

.main > .sub_header > .sub_menu > ul > li.active > a {
    color: rgb(253, 237, 91);
}

.main > .sub_header > .sub_menu > ul > li.active > a::after {
    position: absolute;
    left: 0px;
    bottom: 0px;
    content: '';
    display: inline-block;
    width: 70%;
    height: 4px;
    background-color: rgb(253, 237, 91);
}

.main > .sub_header > .sub_menu > ul > li::after {
    content: '';
    display: inline-block;
    width: 4px;
    height: 4px;
    margin: 0 15px 4px;
    background-color: #ddd;
    border-radius: 50px;
}

.main > .sub_header > .sub_menu > ul > li:last-child::after {
    display: none;
}

.main > .sub_header > .sub_menu > ul > li > a {
    display: inline-block;
    width: 80px;
    height: 100%;
    font-size: 16px;
    color: #999;
    line-height: 60px;
}

.main > .sub_header > .top {
    position: absolute;
    top: 50%;
    right: 1%;
    transform: translateY(-50%);
    font-weight: bold;
    color: #bbb;
    display: inline-block;
    height: 26px;
    display: none;
}

.main > .sub_header > .top::before {
    position: absolute;
    content: '';
    display: inline-block;
    background-image: url(../img/top.png);
    background-repeat: no-repeat;

    top: -10px;
    left: 8px;
    width: 14px;
    height: 9px;
}

/*  */
.main > .sub_header.fixed > .top {
    display: inline-block;
}
.main > .sub_header.fixed {
    background-color: #fff;
}
.main > .sub_header.fixed > .sub_logo {
    display: inline-block;
}

/* bgimg */
.main > .banner {
    position: relative;
    width: 100%;
    height: 380px;
    background-color: #e85a1c;
    text-align: center;
}

.main > .banner > h2 {
    position: relative;
    font-size: 70px;
    color: #fff;
    padding: 110px 0 20px;
    z-index: 2;
}

.main > .banner > p {
    position: relative;
    color: #fff;
    font-size: 16px;
    line-height: 26px;
    z-index: 2;
}

.main > .banner > .bg_img {
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../img/section_img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 380px;
}

/* menu_tab */
section > .menu_tab {
    position: relative;
    width: 100%;
    height: 80px;
    margin-top: -40px;
}

section > .menu_tab > .content {
    position: relative;
    width: 1170px;
    height: 100%;
    background-color: #ffffff;
    margin: 0 auto;
    box-shadow: 0px 5px 5px #e6e6e6;
}

section > .menu_tab > .content > ul {
    position: absolute;
    display: inline-block;
    width: 620px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

section > .menu_tab > .content > ul > li {
    position: relative;
    list-style: none;
    float: left;
    padding: 20px;
    font-size: 16px;
    color: #666;
}

/* footer */

.container > footer {
    width: 100%;
    height: 200px;
    background-color: yellow;
}
